In [1]:
# Load data

In [2]:
import pandas as pd
pd.options.display.latex.repr=True

In [3]:
import os
cwd = os.getcwd()
cwd

'C:\\Users\\Nikhil'

In [4]:
file_path = cwd + '\instacart-market-basket-analysis\csv_files\\'
print(file_path)

C:\Users\Nikhil\instacart-market-basket-analysis\csv_files\

In [5]:
df_aisles = pd.read_csv(file_path + 'aisles.csv')
df_departments = pd.read_csv(file_path + 'departments.csv')
df_order_products_prior = pd.read_csv(file_path + 'order_products__prior.csv')
df_order_products_train = pd.read_csv(file_path + 'order_products__train.csv')
df_orders = pd.read_csv(file_path + 'orders.csv')
df_products = pd.read_csv(file_path + 'products.csv')

In [6]:
df_aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [7]:
df_aisles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aisle_id  134 non-null    int64
 1   aisle     134 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.2+ KB

In [8]:
df_departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [9]:
df_departments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   department_id  21 non-null     int64
 1   department     21 non-null     object
dtypes: int64(1), object(1)
memory usage: 464.0+ bytes

In [10]:
df_order_products_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [11]:
df_order_products_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [12]:
df_order_products_train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [13]:
df_order_products_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1384617 entries, 0 to 1384616
Data columns (total 4 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   order_id           1384617 non-null  int64
 1   product_id         1384617 non-null  int64
 2   add_to_cart_order  1384617 non-null  int64
 3   reordered          1384617 non-null  int64
dtypes: int64(4)
memory usage: 42.3 MB

In [14]:
df_orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [15]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [16]:
df_products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [17]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49688 non-null  int64
 1   product_name   49688 non-null  object
 2   aisle_id       49688 non-null  int64
 3   department_id  49688 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

Merge the CSV files into a single DataFrame

First merge Order Products to single data frame

In [18]:
df_order_products = pd.concat([df_order_products_prior, df_order_products_train])

In [19]:
df_order_products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33819106 entries, 0 to 1384616
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 1.3 GB

In [20]:
df_order_products.count()

order_id             33819106
product_id           33819106
add_to_cart_order    33819106
reordered            33819106
dtype: int64

Create new dataframe for test set:

In [21]:
df_orders_test = df_orders[df_orders['eval_set']=='test']

In [22]:
df_orders_test.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
38,2774568,3,test,13,5,15,11.0
44,329954,4,test,6,3,12,30.0
53,1528013,6,test,4,3,16,22.0
96,1376945,11,test,8,6,11,8.0
102,1356845,12,test,6,1,20,30.0

In [23]:
df = pd.merge(df_orders,df_order_products,on='order_id')

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33819106 entries, 0 to 33819105
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
dtypes: float64(1), int64(8), object(1)
memory usage: 2.8+ GB

In [25]:
df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196,1,0
1,2539329,1,prior,1,2,8,NaN,14084,2,0
2,2539329,1,prior,1,2,8,NaN,12427,3,0
3,2539329,1,prior,1,2,8,NaN,26088,4,0
4,2539329,1,prior,1,2,8,NaN,26405,5,0

In [26]:
d = pd.merge(df, df_products, on='product_id')
d = pd.merge(d, df_aisles, on='aisle_id')
d = pd.merge(d, df_departments, on='department_id')

In [27]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33819106 entries, 0 to 33819105
Data columns (total 15 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
 10  product_name            object
 11  aisle_id                int64
 12  department_id           int64
 13  aisle                   object
 14  department              object
dtypes: float64(1), int64(10), object(4)
memory usage: 4.0+ GB

In [28]:
d.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,soft drinks,beverages
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,soft drinks,beverages
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,soft drinks,beverages
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,soft drinks,beverages
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,soft drinks,beverages

Creating a Multiindex for the dataframe which was combined: ('add_to_cart_order','order_number','user_id')

In [29]:
d = d.set_index(['user_id','order_number','add_to_cart_order'])

In [30]:
d.sort_index()

MemoryError:

                                        order_id eval_set  order_dow  \
user_id order_number add_to_cart_order
1       1            1                   2539329    prior          2
                     2                   2539329    prior          2
                     3                   2539329    prior          2
                     4                   2539329    prior          2
                     5                   2539329    prior          2
...                                          ...      ...        ...
206209  14           4                    272231    train          6
                     5                    272231    train          6
                     6                    272231    train          6
                     7                    272231    train          6
                     8                    272231    train          6

                                        order_hour_of_day  \
user_id order_number add_to_cart_order
1       1            1                                  8
                     2                                  8
                     3                                  8
                     4                                  8
                     5                                  8
...                                                   ...
206209  14           4                                 14
                     5                                 14
                     6                                 14
                     7                                 14
                     8                                 14

                                        days_since_prior_order  product_id  \
user_id order_number add_to_cart_order
1       1            1                                     NaN         196
                     2                                     NaN       14084
                     3                                     NaN       12427
                     4                                     NaN       26088
                     5                                     NaN       26405
...                                                        ...         ...
206209  14           4                                    30.0       40603
                     5                                    30.0       15655
                     6                                    30.0       42606
                     7                                    30.0       37966
                     8                                    30.0       39216

                                        reordered  \
user_id order_number add_to_cart_order
1       1            1                          0
                     2                          0
                     3                          0
                     4                          0
                     5                          0
...                                           ...
206209  14           4                          0
                     5                          0
                     6                          0
                     7                          0
                     8                          1

                                                                   product_name  \
user_id order_number add_to_cart_order
1       1            1                                                     Soda
                     2                  Organic Unsweetened Vanilla Almond Milk
                     3                                      Original Beef Jerky
                     4                               Aged White Cheddar Popcorn
                     5                         XL Pick-A-Size Paper Towel Rolls
...                                                                         ...
206209  14           4                                   Fabric Softener Sheets
                     5                   Dark Chocolate Mint Snacking Chocolate
                     6                                 Phish Food Frozen Yogurt
                     7                                    French Baguette Bread
                     8                     Original Multigrain Spoonfuls Cereal

                                        aisle_id  department_id  \
user_id order_number add_to_cart_order
1       1            1                        77              7
                     2                        91             16
                     3                        23             19
                     4                        23             19
                     5                        54             17
...                                          ...            ...
206209  14           4                        75             17
                     5                        45             19
                     6                        37              1
                     7                       112              3
                     8                       121             14

                                                  aisle  department
user_id order_number add_to_cart_order
1       1            1                      soft drinks   beverages
                     2                  soy lactosefree  dairy eggs
                     3                    popcorn jerky      snacks
                     4                    popcorn jerky      snacks
                     5                      paper goods   household
...                                                 ...         ...
206209  14           4                          laundry   household
                     5                  candy chocolate      snacks
                     6                    ice cream ice      frozen
                     7                            bread      bakery
                     8                           cereal   breakfast

[33819106 rows x 12 columns]

In [33]:
d.head(50)

                                        order_id eval_set  order_dow  \
user_id order_number add_to_cart_order
1       1            1                   2539329    prior          2
        2            1                   2398795    prior          3
        3            1                    473747    prior          3
        4            1                   2254736    prior          4
        5            1                    431534    prior          4
        6            1                   3367565    prior          2
        7            1                    550135    prior          1
        8            2                   3108588    prior          1
        9            4                   2295261    prior          1
        10           1                   2550362    prior          4
        11           1                   1187899    train          4
15      15           2                   2968173    prior          1
        17           6                   1870022    prior          2
        18           1                   1911383    prior          2
        21           1                   2715276    prior          1
        22           1                    487368    prior          1
19      2            3                   2293453    prior          5
        5            15                  1973799    prior          6
        7            1                    532817    prior          4
21      10           2                   1573906    prior          3
31      10           17                  1593000    prior          3
        17           14                  2231262    prior          3
43      6            9                   2580647    prior          4
        9            1                   2187180    prior          4
52      1            4                   2497897    prior          1
        2            5                   1318871    prior          1
        3            3                   1261384    prior          1
        5            6                    580568    prior          2
        7            5                   2428073    prior          2
        9            5                    342306    prior          1
        10           4                   1520353    prior          2
        11           3                   2542086    prior          2
        12           7                    944694    prior          1
        15           3                   1268191    prior          2
        17           4                   1122089    prior          2
        18           6                   1498922    prior          2
        19           4                    180919    prior          3
        21           1                   2695875    prior          5
67      1            1                   3205960    prior          3
        2            2                    970922    prior          1
        3            2                    596585    prior          1
        4            1                   2037087    prior          2
        5            2                   2474111    prior          3
        6            2                   1568481    prior          3
        8            1                   2048527    prior          2
        9            1                   2389031    prior          2
        10           1                   2378562    prior          1
        11           1                   1515698    prior          1
        12           1                   1928050    prior          2
        13           1                   1949274    prior          1

                                        order_hour_of_day  \
user_id order_number add_to_cart_order
1       1            1                                  8
        2            1                                  7
        3            1                                 12
        4            1                                  7
        5            1                                 15
        6            1                                  7
        7            1                                  9
        8            2                                 14
        9            4                                 16
        10           1                                  8
        11           1                                  8
15      15           2                                  9
        17           6                                 16
        18           1                                 11
        21           1                                  9
        22           1                                 10
19      2            3                                 14
        5            15                                12
        7            1                                 17
21      10           2                                 10
31      10           17                                 8
        17           14                                11
43      6            9                                 16
        9            1                                 12
52      1            4                                  9
        2            5                                 10
        3            3                                 10
        5            6                                 10
        7            5                                  7
        9            5                                 11
        10           4                                 10
        11           3                                  9
        12           7                                 16
        15           3                                 11
        17           4                                 10
        18           6                                 10
        19           4                                  8
        21           1                                 10
67      1            1                                 11
        2            2                                 15
        3            2                                 13
        4            1                                  9
        5            2                                 14
        6            2                                 12
        8            1                                 11
        9            1                                 14
        10           1                                 10
        11           1                                 11
        12           1                                 12
        13           1                                 10

                                        days_since_prior_order  product_id  \
user_id order_number add_to_cart_order
1       1            1                                     NaN         196
        2            1                                    15.0         196
        3            1                                    21.0         196
        4            1                                    29.0         196
        5            1                                    28.0         196
        6            1                                    19.0         196
        7            1                                    20.0         196
        8            2                                    14.0         196
        9            4                                     0.0         196
        10           1                                    30.0         196
        11           1                                    14.0         196
15      15           2                                     7.0         196
        17           6                                     8.0         196
        18           1                                     7.0         196
        21           1                                     7.0         196
        22           1                                    14.0         196
19      2            3                                     6.0         196
        5            15                                    8.0         196
        7            1                                     6.0         196
21      10           2                                     6.0         196
31      10           17                                    7.0         196
        17           14                                    8.0         196
43      6            9                                     4.0         196
        9            1                                     3.0         196
52      1            4                                     NaN         196
        2            5                                     7.0         196
        3            3                                     7.0         196
        5            6                                     8.0         196
        7            5                                     8.0         196
        9            5                                     7.0         196
        10           4                                     8.0         196
        11           3                                     7.0         196
        12           7                                     6.0         196
        15           3                                     8.0         196
        17           4                                     6.0         196
        18           6                                    14.0         196
        19           4                                     8.0         196
        21           1                                    30.0         196
67      1            1                                     NaN         196
        2            2                                     5.0         196
        3            2                                     7.0         196
        4            1                                     8.0         196
        5            2                                     8.0         196
        6            2                                     7.0         196
        8            1                                     7.0         196
        9            1                                     7.0         196
        10           1                                     6.0         196
        11           1                                     7.0         196
        12           1                                     8.0         196
        13           1                                     6.0         196

                                        reordered product_name  aisle_id  \
user_id order_number add_to_cart_order
1       1            1                          0         Soda        77
        2            1                          1         Soda        77
        3            1                          1         Soda        77
        4            1                          1         Soda        77
        5            1                          1         Soda        77
        6            1                          1         Soda        77
        7            1                          1         Soda        77
        8            2                          1         Soda        77
        9            4                          1         Soda        77
        10           1                          1         Soda        77
        11           1                          1         Soda        77
15      15           2                          0         Soda        77
        17           6                          1         Soda        77
        18           1                          1         Soda        77
        21           1                          1         Soda        77
        22           1                          1         Soda        77
19      2            3                          0         Soda        77
        5            15                         1         Soda        77
        7            1                          1         Soda        77
21      10           2                          0         Soda        77
31      10           17                         0         Soda        77
        17           14                         1         Soda        77
43      6            9                          0         Soda        77
        9            1                          1         Soda        77
52      1            4                          0         Soda        77
        2            5                          1         Soda        77
        3            3                          1         Soda        77
        5            6                          1         Soda        77
        7            5                          1         Soda        77
        9            5                          1         Soda        77
        10           4                          1         Soda        77
        11           3                          1         Soda        77
        12           7                          1         Soda        77
        15           3                          1         Soda        77
        17           4                          1         Soda        77
        18           6                          1         Soda        77
        19           4                          1         Soda        77
        21           1                          1         Soda        77
67      1            1                          0         Soda        77
        2            2                          1         Soda        77
        3            2                          1         Soda        77
        4            1                          1         Soda        77
        5            2                          1         Soda        77
        6            2                          1         Soda        77
        8            1                          1         Soda        77
        9            1                          1         Soda        77
        10           1                          1         Soda        77
        11           1                          1         Soda        77
        12           1                          1         Soda        77
        13           1                          1         Soda        77

                                        department_id        aisle department
user_id order_number add_to_cart_order
1       1            1                              7  soft drinks  beverages
        2            1                              7  soft drinks  beverages
        3            1                              7  soft drinks  beverages
        4            1                              7  soft drinks  beverages
        5            1                              7  soft drinks  beverages
        6            1                              7  soft drinks  beverages
        7            1                              7  soft drinks  beverages
        8            2                              7  soft drinks  beverages
        9            4                              7  soft drinks  beverages
        10           1                              7  soft drinks  beverages
        11           1                              7  soft drinks  beverages
15      15           2                              7  soft drinks  beverages
        17           6                              7  soft drinks  beverages
        18           1                              7  soft drinks  beverages
        21           1                              7  soft drinks  beverages
        22           1                              7  soft drinks  beverages
19      2            3                              7  soft drinks  beverages
        5            15                             7  soft drinks  beverages
        7            1                              7  soft drinks  beverages
21      10           2                              7  soft drinks  beverages
31      10           17                             7  soft drinks  beverages
        17           14                             7  soft drinks  beverages
43      6            9                              7  soft drinks  beverages
        9            1                              7  soft drinks  beverages
52      1            4                              7  soft drinks  beverages
        2            5                              7  soft drinks  beverages
        3            3                              7  soft drinks  beverages
        5            6                              7  soft drinks  beverages
        7            5                              7  soft drinks  beverages
        9            5                              7  soft drinks  beverages
        10           4                              7  soft drinks  beverages
        11           3                              7  soft drinks  beverages
        12           7                              7  soft drinks  beverages
        15           3                              7  soft drinks  beverages
        17           4                              7  soft drinks  beverages
        18           6                              7  soft drinks  beverages
        19           4                              7  soft drinks  beverages
        21           1                              7  soft drinks  beverages
67      1            1                              7  soft drinks  beverages
        2            2                              7  soft drinks  beverages
        3            2                              7  soft drinks  beverages
        4            1                              7  soft drinks  beverages
        5            2                              7  soft drinks  beverages
        6            2                              7  soft drinks  beverages
        8            1                              7  soft drinks  beverages
        9            1                              7  soft drinks  beverages
        10           1                              7  soft drinks  beverages
        11           1                              7  soft drinks  beverages
        12           1                              7  soft drinks  beverages
        13           1                              7  soft drinks  beverages